@CHARSET "UTF-8";

body {
	font-size: 12px;
	margin: 0px;
	padding: 0px;
	color: #4e4c4c;
	overflow-y: scroll;
	overflow-x: hidden;
	background: #68c1dd;
	background: url(../images/1.jpg) no-repeat;
	font-family: Arial;
	padding-bottom: 0px !important;
}

.huanL {
	background-image: url("../images/L.png");
	height: 146px !important;
	width: 24px !important;
	top: 36% !important;
}

.huanR {
	background-image: url("../images/R.png");
	height: 146px !important;
	width: 24px !important;
	top: 36% !important;
}

.huanL:before, .huanR:before {
	content: "" !important;
}

.carousel {
	background: url("../images/hbg.png");
}

.carousel-indicators {
	bottom: 96px !important;
}
/* .carousel-indicators .active { */
/*     width: auto !important; */
/*     height: auto !important; */
/*     margin: auto !important; */
/*     background-color: transparent !important; */
/* } */
/* .carousel-indicators li { */
/*     width: auto !important; */
/*     text-indent: 0 !important; */
/*     border: none !important; */
/*     border-radius: 0 !important; */
/* } */
.carousel .item {
	background-color: transparent !important;
}

.carousel-caption {
	bottom: auto !important;
	color: #4e4c4c !important;
	text-shadow: none !important;
	right: 13% !important;
	left: 13% !important;
}

.carousel-caption h1 {
	margin-bottom: 25px;
	font-size: 28px;
}

.carousel-caption p {
	margin-bottom: 45px !important;
	font-size: 17px !important;
	line-height: 1.3 !important;
}

.carousel-caption p img {
	width: 90%;
}

.carousel_navbar {
	position: absolute;
	bottom: 5%;
	width: 60%;
	position: absolute;
	bottom: 28px;
	left: 5%;
	right: 0;
	margin: auto;
	min-width: 780px;
}

#navbar {
	font-size: 18px;
}

#navbar a {
	color: #000;
	white-space: nowrap;
}

.divMain {
	height: 90% !important;
	padding: 10px;
	width: 90%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	min-width: 780px;
	margin-bottom: auto !important;
}

.title-bar {
	top: 0;
	left: 0;
	position: absolute;
}

.n1L {
	background: url(../images/kbg0.png);
	padding-left: 6px;
	padding-right: 6px;
	margin-bottom: 13px;
	width: 257px;
}

.n1R {
	
}

.n1Lw1 {
	height: 25px;
	margin-bottom: 7px;
	padding-top: 9px;
}

.n1Linp1 {
	width: 100%;
	overflow: hidden;
	height: 59px;
	border: #000 solid 1px;
}

.n2K {
	width: 537px;
	height: 180px;
	margin-bottom: 5px;
	background: url(../images/kbg1.png);
}

.n2KL {
	float: left;
	margin-top: 5px;
	margin-left: 10px;
}

.n2KR {
	width: 20%;
	float: right;
	background: #FFF;
	border: #000 solid 1px;
	margin-right: 30px;
	margin-top: 20px;
	text-align: center;
	padding-top: 5px;
	float: right;
}

.n3K {
	width: 537px;
	height: 101px;
	margin-bottom: 5px;
	background: url(../images/kbg2.png);
}

.n3Linp1 {
	width: 93%;
	height: 73px;
	border: #000 solid 1px;
	margin-top: 7px;
	margin-left: 7px;
	height: 73px;
}

.n4K {
	width: 537px;
	height: 101px;
	margin-bottom: 5px;
	background: url(../images/kbg3.png);
}

.colrw1 {
	margin-bottom: 10px;
	font-size: 22px;
	color: #FFF;
}

.menu {
	margin-left: 16px;
	margin-top: 5px;
	margin-bottom: 9px;
}

.menu ul {
	
}

.menu li {
	float: left;
	list-style-type: none;
}

.menu li a {
	display: block;
	height: 22px;
	line-height: 19px;
	text-align: center;
	margin-right: 8px;
	margin-bottom: 6px;
	padding-left: 8px;
	padding-right: 8px;
}

a:hover {
	font-size: 12px;
	color: #505050;
	text-decoration: none;
}

a:visited {
	font-size: 12px;
	color: #505050;
	text-decoration: none;
}

a:link {
	font-size: 12px;
	color: #505050;
	text-decoration: none;
}

.menu li a:link {
	color: #fff;
	font-size: 12px;
	white-space: nowrap;
	border: #FFF solid 2px;
}

.menu li a:visited {
	color: #fff;
	font-size: 12px;
	white-space: nowrap;
	border: #FFF solid 2px;
}

.menu li a:hover {
	color: #07467c;
	font-size: 12px;
	white-space: nowrap;
	border: #FFF solid 2px;
	background: #FFF;
}

.menu li a:active {
	color: #07467c;
	font-size: 12px;
	white-space: nowrap;
	border: #FFF solid 2px;
	background: #FFF;
}

.menu1 {
	overflow: hidden;
}

.menu2 {
	overflow: hidden;
}

.menu3 {
	overflow: hidden;
}

.menu4 {
	overflow: hidden;
}

.menu5 {
	overflow: hidden;
}

.menu6 {
	overflow: hidden;
}

.menu7 {
	overflow: hidden;
}

.n5K {
	width: 537px;
	height: 388px;
	margin-left: 10px;
	margin-bottom: 5px;
	background: url(../images/kbg4.png);
	padding-left: 7px;
}

.rinp1 {
	width: 96%;
	height: 140px;
	border: #000 solid 1px;
	margin-bottom: 10px;
	height: 140px;
}

.inpduan {
	width: 60px;
	height: 23px;
	overflow: hidden;
	border: #000 solid 1px;
}

.ripp2 {
	margin-bottom: 10px;
}

.col-md-1, .col-md-11 {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.row-margin-bottom-5 {
	margin-bottom: 5px;
}

#divMid {
	width: 20px;
}

.list-inline>li {
	padding-right: 0px;
	padding-left: 0px;
}
.D3logo{
	margin-bottom: 10px;
	width: 217px;
	height: 96px;
}
.D3K1 {
	background: url(../images/hbg.png);
	border: #000 solid 1px;
	height: 269px;
	overflow: hidden;
	margin-bottom: 10px;
}

.D3K1n {
	width: 512px;
	background: #FFF;
	border: #000 solid 1px;
	margin: 7px;
	height: 250px;
	overflow: hidden;
}

.D3huanL {
	float: left;
	margin-top: 60px;
	overflow: hidden;
}

.D3huanR {
	float: right;
	margin-top: 60px;
	overflow: hidden;
}

.D3Hcon {
	float: left;
	width: 450px;
	overflow: hidden;
	margin-left: 10px;
	margin-top: 40px;
}

.D3w1 {
	color: #000;
	font-size: 14px;
	margin-left: 10px;
	margin-top: 10px;
}

.D3K2 {
	background: url(../images/hbg.png);
	border: #000 solid 1px;
	height: 92px;
	overflow: hidden;
}

.D3K2n {
	background: #FFF;
	border: #000 solid 1px;
	margin: 7px;
	height: 250px;
	overflow: hidden;
}

.D3yin {
	width: 512px;
	height: 75px;
	overflow-y: scroll;
	border: #000 solid 1px;
	background: #FFF;
	margin-top: 7px;
	margin-left: 7px;
}

.D3yin ul {
	margin-top: 7px;
	margin-left: 7px;
}

.D3yin li {
	float: left;
	width: 230px;
	overflow: hidden;
	margin-bottom: 4px;
}

.D3yin li a {
	
}

.D3yin li span {
	padding-top: 7px;
	margin-left: 5px;
}

.D3RK1 {
	width: 537px;
	background: url(../images/hbg.png);
	border: #000 solid 1px;
	height: 233px;
	overflow: hidden;
	margin-left: 10px;
	margin-bottom: 10px;
}

.D3RK1inp {
	width: 515px;
	overflow-y: scroll;
	height: 212px;
	margin-top: 7px;
	margin-left: 7px;
	border: #000 solid 1px;
}

.D3RK2 {
	width: 537px;
	background: url(../images/hbg.png);
	border: #000 solid 1px;
	height: 135px;
	overflow: hidden;
	margin-left: 10px;
}

.D3RK2w1 {
	width: 502px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 13px;
	color: #000;
	border: #000 solid 1px;
	overflow: hidden;
	background: #bcb4ac;
	margin-left: 15px;
}

.D3RK2w2 {
	width: 292px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 13px;
	color: #000;
	border: #000 solid 1px;
	overflow: hidden;
	background: #fff;
	margin-left: 15px;
}

.D3RK2w3 {
	width: 199px;
	height: 70px;
	line-height: 30px;
	text-align: center;
	font-size: 13px;
	color: #000;
	border: #000 solid 1px;
	overflow: hidden;
	background: #fff;
	margin-top: 7px;
}